<!doctype html>
{% load static %}
<html>
    <body>
        <img src="{{ protocol }}://{{ domain }}{% static 'images/Logo.png' %}" style="display: block; width: 150px"/>
        <br>
        <p>Добрый день, {{ user.first_name|safe }}</p>

        <p>
            Мы получили <b>запрос на восстановление пароля</b> аккаунта {{ user.username|safe }}.<br>
            Для восстановления пароля перейди по ссылке ниже.
        </p>

        {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

        <p>
            Ссылка используется только один раз. При необходимости повторного<br>
            восстановления пароля сделай запрос вновь на
        </p>

        {{ protocol }}://{{ domain }}/accounts/password_reset.

        <br>
        <br>
        <p>Администраторы фотошколы Mango PhotoClub</p>
        <img src="{{ protocol }}://{{ domain }}{% static 'images/toa-heftiba-_hqV-h2sQHM-unsplash.jpg' %}" style="display: inline-block; width: 130px; height: 150px"/>
        <img src="{{ protocol }}://{{ domain }}{% static 'images/siyan-ren-jN_VbffJHlI-unsplash.jpg' %}" style="display: inline-block; width: 130px; height: 150px"/>
        <img src="{{ protocol }}://{{ domain }}{% static 'images/lauren-mancke-sil2Hx4iupI-unsplash.jpg' %}" style="display: inline-block; width: 130px; height: 150px"/>
        <img src="{{ protocol }}://{{ domain }}{% static 'images/lubomirkin-j_BHh6vNOv8-unsplash.jpg' %}" style="display: inline-block; width: 130px; height: 150px"/>
        <img src="{{ protocol }}://{{ domain }}{% static 'images/parco-chan-Ztp54-7b5Qc-unsplash.jpg' %}" style="display: inline-block; width: 130px; height: 150px"/>
        <img src="{{ protocol }}://{{ domain }}{% static 'images/toa-heftiba-_hqV-h2sQHM-unsplash3.jpg' %}" style="display: inline-block; width: 130px; height: 150px"/>
        <img src="{{ protocol }}://{{ domain }}{% static 'images/toa-heftiba-_hqV-h2sQHM-unsplash2.jpg' %}" style="display: inline-block; width: 130px; height: 150px"/>
    </body>
</html>