{% load static %}
<div class="menu">
    <img src="{% static 'images/ic20-list.svg' %}" class="iconka_list" alt="alt">
    <span style="margin-left: 15px; font-family: Roboto; font-style: normal; font-weight: 500; font-size: 36px; color: #F9C80E;">Список студентов</span>
</div>
<div class="menu" style="margin-top: 30px;">
    <div style="position: absolute; left: 445px; top: 450px;">
        <img src="{% static 'images/ic20-search.svg' %}" class="iconka_search" alt="alt">
    </div>
    <input style="padding-left: 80px; width: 689px; height: 72px; font-family: Roboto; font-style: normal; font-weight: 300; font-size: 150%; line-height: 60%; color: #000000; background: #E9E9E9; border-radius: 50px; border: 0px;" type="text" placeholder="Поиск студента" id="search-text_s" onkeyup="tableSearch_s()">
</div>
<div class="menu">
    <table id="info-table_s" class="table table-bordered" style="border-color:white; width: 1205px;">
        <tbody id="btn_s">
            {% for profaddinfo in profaddinfo_list %}
            {% if profaddinfo.is_teacher == 0 and profaddinfo.user.is_staff == 0 %}
            <tr style="cursor: pointer;">
                <td style="width: 350px; font-family: Roboto; font-style: normal; font-weight: normal; font-size: 30px; color: #000000;">{{ profaddinfo.user.last_name }} {{ profaddinfo.user.first_name }}</td>
                <td style="font-family: Roboto; font-style: normal; font-weight: 300; font-size: 30px; color: #000000;">@{{ profaddinfo.user.username }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>

<script type="text/javascript">
    $(function() {
        $("#sortable1, #sortable2").sortable({
            connectWith: ".connectedSortable"
        }).disableSelection();
    });

</script>
