<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% load crispy_forms_tags %}
</head>
<body>
    <div class="form-section">
        <h2>Личный кабинет.</h2>
        <div class="d-flex text-muted pt-3">
            <img class="mr-2 rounded" style="width: 64px; height: 64px;" src="{{ user.profile.img.url }}">

            <p class="pb-3 mb-0 small lh-sm border-bottom">
                <strong class="d-block text-gray-dark">@{{ user.username }}</strong>
                <b>Email:</b> {{ user.email }}
            </p>
        </div>
        <h2>Изменить данные пользователя</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ update_user|crispy }}
            {{ img_profile|crispy }}
            <button type="submit" class="btn btn-outline-warning">Обновить данные</button>
        </form>
    </div>

</body>
</html>